.Blog__Dir {
    margin: 30px 0 0 210px;
    width: 610px;
}

.Blog__list {
    display: flex;
    justify-content: space-between;
}

.Blog__DirItem {
    width: auto;
    height: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0008em;
    color: #252525;
    list-style: none;
}

.Blog__DirIcon {
    font-size: 12px;
}

.Blog__Content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 1140px;
    height: 2607px;
}

.Blog__Content__Header {
    position: relative;
    width: 790px;
    height: 217px;
}

.Blog__Label {
    display: flex;
    width: 172px;
    height: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    background: #88D6A3;
    border-radius: 100px;
    margin-left: 40px;
}

.Blog__Label__Name {
    width: 140px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.0008em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Blog__Title {
    margin: 7px 0 0 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.004em;
    color: #252525;
    text-align: left;
}

.Blog__Title__Footer {
    display: flex;
    justify-content: space-between;
    margin: 5px auto 30px;
    align-items: center;
    width: 710px;
}

.Blog__Time {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    letter-spacing: -0.0008em;
    color: #807F8A;
}


.Blog__Interact {

    width: 199px;
    height: 32px;
    display: inline-flex;
}

.Blog__Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    width: 87px;
    height: 32px;
    background: #FF7B54;
    border-radius: 4px;
    flex: none;
    border-width: 0px;
    margin: 0 10px;

}

.Blog__Button__Icon {
    display: flex;
    align-items: center;
    padding: 0 5px 0 0px;
    width: 16px;
    height: 16px;
    color: #FFFFFF;
}

.Blog__Button__Text {
    width: auto;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
}

.Blog__Line {
    width: 750px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0 71px 0 21px;
}

.Blog__Content__Body {
    margin: 25px 0 0 40px;
    width: 850px;
    height: auto;
}

.Blog__Content__Text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.0008em;
    color: rgba(18, 17, 39, 0.72);
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: left;
}

.Blog__Paragraph1 {
    width: 750px;
    margin: 0 70px 30px 0;
}

.Blog__Paragraph2 {
    width: 749.69px;
    height: 26px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.0008em;
    color: #252525;
    text-align: left;
}

.Blog__Paragraph3 {
    width: 750px;
    height: 60px;
}

.Blog__Content__List1 {
    width: 750px;
    display: flex;
    flex-direction: column;
}

.Blog__Paragraph4 {
    margin: 5px 0;
    width: 700px;
}

.Blog__Paragraph5 {
    width: 750px;
}

.Blog__Paragraph6 {
    margin: 35px 0 25px;
    width: 749.69px;
    height: 51px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.0008em;
    color: #252525;
    text-align: left;
}

.Blog__Paragraph7 {
    width: 750px;
    height: 90px;
    margin-bottom: 25px;
}

.Blog__Img {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Blog__Img1 {
    width: 750px;
    height: 558px;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    object-fit: cover;
}

.Blog__Img1__Desc {
    width: 172px;
    height: 22px;
    margin: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 180%;
    text-align: center;
    color: rgba(18, 17, 39, 0.56);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Blog__Paragraph8 {
    width: 750px;
    height: 120px;
    margin: 75px 0 32px;
}

.Blog__Body__Tags {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    width: 750px;
}

.Blog__Body__Tags__Name {
    width: 48px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #136D4C;
    background: #B2DCBA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blog__Body__Tags__List {
    align-items: center;
    height: 31px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.Blog__Body__Tags__Item {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    color: #252525;
    list-style: none ;
    margin: 0 15px;
}

.Blog__Line__Pos2 {
    margin: 33px 0;

}

.Blog__Content__Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 840px;
    height: 394px;
    background: rgba(230, 243, 248, 0.15);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.Blog__News__Title {
    width: 750px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.002em;
    color: #252525;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: left;
}

.Blog__News__List {
    width: 750px;
    height: 251px;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
}

.Blog__News__Item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Blog__News__Img {
    width: 230px;
    height: 170px;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    object-fit: cover;
}

.Blog__News__Desc {
    width: 225px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.002em;
    color: #252525;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: left;
    margin: 0;
}

.Blog__News__Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    width: 85px;
    height: 24px;
    background: #88D6A3;
    border: 0;
    border-radius: 100px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.0008em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Blog__Side { 
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 300px;
    height: 1275.41px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Blog__About {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    width: 300px;
    height: 338px;
    background: linear-gradient(180deg, rgba(20, 84, 107, 0.54) 0%, rgba(20, 84, 107, 0.9) 100%), url('../../../Assets/Images/BlogImg3.jpg');
    box-shadow: 0px 8px 20px rgba(18, 17, 39, 0.1);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));

}

.Blog__About__Title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 268px;
    height: 45px;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
}

.Blog__About__Icon {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 400px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Blog__About__Name {
    width: 228px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0008em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

.Blog__About__Desc {
    width: 250px;
    height: 205px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    text-align: left;
}

.Blog__Topic {
    margin-top: 23px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.Blog__Topic__Title {
    margin: 10px 33.5px 0;
    width: 233px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.002em;
    color: #252525;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: left;
}

.Blog__Topic__List {
    list-style: none;
}

.Blog__Topic__Item {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 230px;
    height: 168px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Blog__Topic__Img {
    width: 230px;
    height: 130px;
    background: url('../../../Assets/Images/BlogImg2.jfif');
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Blog__Topic__Desc {
    width: 225px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.002em;
    color: #252525;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: left;
    margin: 0;
}

.Blog__Tags {
    width: 300px;
    height: 250px;
    flex: none;
    order: 2;
    flex-grow: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.Blog__Tags__Title {
    width: 76px;
    height: 42px;
    margin: 33px auto 10px 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.003em;
    color: #252525;
}

.Blog__Tags__List {
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: start;
}

.Blog__Tags__Button {
    margin: 8px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 13px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

.Blog__Tags__Text {    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #495057;
}
