.news-item {
  text-align: left;
  margin-bottom: 40px;
}

.news-item__row1 {
  background-color: rgba(169, 220, 239, 0.75);
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  padding: 5px 0;
  padding-left: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.news-item__row2 .col-md-8 {
  background-color: rgb(242, 242, 242);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
}

.news-item__row2 .col-md-8 div {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-item__row2 .col-md-8 div h6 {
  margin: 20px 0;
  font-size: 24px;
  color: #000;
}

.news-item__row2 .col-md-8 div h6:hover {
  font-weight: bold;
}

.news-item__row2 .col-md-8 div p {
  margin: 0;
  margin-right: 30px;
  font-weight: 400;
  font-size: 13px;
}

.news-item-row2-wrapper {
  justify-content: flex-start !important;
  padding-left: 0 !important;
}

.news-item-row2-label {
  height: 24px;
  border-radius: 10px;
  color: #fff;
  background-color: #88D6A3;
  padding: 0 20px !important;
  margin-left: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.news-item__row2 .col-md-8 a img {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
  text-align: center;
  object-fit: contain;
}

.news-item__row2 .col-md-8 a img:hover {
  opacity: 0.8
}

.news-item__row2 .col-md-4 {
  background-color: rgba(230, 243, 248, 0.3);
  padding-top: 10px;
  /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05); */
}

.news-item__row2 .col-md-4 a h5 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.news-item__row2 .col-md-4 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}