.news-item-outstanding > div > div {
  width: 140px;
height: 20px;
font-weight: 300;
font-size: 12px;
text-align: center;
background-color: #88D6A3;
color: #fff;
text-transform: uppercase;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.news-item-outstanding > div {
  padding-left: 30px;
}

.news-item-outstanding > div > p {
  font-weight: bold;
  margin-top: 10px;
}